h1, p {
  color: red;
  font-family: Verdana;
  font-size: 25px;
  text-align: center;
}
 h2 {
   color: blue;
   font-size: 50px;
   text-align: center;
   
 }
 
 
 body {
   background-image: url('bg.png')
 }